.info {
    
    background-color: #2c2d2e;
    padding: 0;
    margin-left: -50px;
    margin-top: -50px;
    color: #c7c3b9;
    font-family: 'Play', sans-serif;

    &__block{
        padding-top: 50px;
        padding-left: 20px;
        
    }

    &__h{
        padding-bottom: 50px;
        padding-left: 500px;
        font-size: 55px; 
    }

    &__text{
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 50px
        
    }

    &__imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        padding-left: 50px;
        
        
       &__img{
           width: 630px;
           height: 370px;
           margin-right: 30px;
           
       }
    }

}




















@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&family=Turret+Road:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');